@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400&display=swap");
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Epilogue", sans-serif;
}
span.highlight {
  font-size: 24px;
}
section.content {
  text-align: center;
  width: 80%;
  margin: 30px auto;
}
ul.sticky {
  position: sticky;
  top: 0;
  list-style: none;
  padding: 10px;
  margin: 0px;
  background: #1e1e1e;
  text-align: right;
  z-index: 999;
}
ul.sticky li {
  display: inline-block;
  margin: 0px 15px;
  cursor: pointer;
  color: #9cdcfe;
}
/* banner */
.banner {
  background: #2d2d2d;
  height: 350px;
  background-size: 100%;
  position: relative;
}
.banner div {
  color: #fff;
  text-align: center;
  /* line-height: 350px; */
  margin: 0px;
  display: inline-block;
  /* line-height: 350px; */
}
.banner .slide-left {
  animation: slide-left 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}
.banner .slide-right {
  animation: slide-right 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(25%);
  }
}
.banner .text {
  left: 20%;
  position: absolute;
  top: 10%;
}
.banner .vl {
  height: 280px;
  display: inline-block;
  border-left: 10px solid #b7dcaa;
  margin: 0px 5px;
  transform: rotate(30deg);
  position: absolute;
  top: 5%;
}
.banner .banner-text {
  position: absolute;
  top: 10%;
}
.banner .profile-image {
  width: 180px;
  height: 180px;
  display: inline-block;
  border: 7px solid #fff;
  border-radius: 5px;
}
.banner .banner-text h2 {
  text-align: left;
  font-size: 65px;
  color: #b7dcaa;
}
/* banner end */
/* about-me */
.about-left {
  text-align: left;
  width: 60%;
}
.about-right {
  width: 40%;
  float: left;
}
.about-me p.about-text {
  line-height: 30px;
}
a.about-resume {
  text-decoration: unset;
  color: white;
  font-size: 20px;
  background: black;
  padding: 15px 20px;
  border-radius: 15px;
  display: block;
  width: fit-content;
}
a.about-resume img.right-arrow {
  width: 15px;
  transition: 0.4s;
}
a.about-resume:hover img.right-arrow {
  transform: translate(5px, 0);
}
/* about-me end */
/* Key skills */
.key-skills.visible .all-skills .skill {
  display: inline-block;
  margin: 0px 20px;
  animation: slidein 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  /* animation-duration: 1s;
  animation-name: slidein; */
}
.key-skills.visible .all-skills .skill:nth-child(2) {
  animation-delay: 0.2s;
}
.key-skills.visible .all-skills .skill:nth-child(3) {
  animation-delay: 0.3s;
}
.key-skills.visible .all-skills .skill:nth-child(4) {
  animation-delay: 0.4s;
}
.key-skills.visible .all-skills .skill:nth-child(5) {
  animation-delay: 0.5s;
}
.key-skills.visible .all-skills .skill:nth-child(6) {
  animation-delay: 0.6s;
}
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.all-skills .skill img {
  width: 45px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

/* Key skills end */
/* github project */
section.gitprojects.content {
  width: 80%;
}
li.card {
  border: 0.5px solid;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}
.card a {
  color: inherit;
}

.card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1.5rem;
  max-width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* github projects end */
/* contact me */
.contact-me {
  display: flex;
  justify-content: space-around;
}
.contact-links {
  padding: 15px 20px;
  border: 1px solid;
  border-radius: 20px;
}
.contact-links a {
  display: inline-block;
}
.contact-me img {
  width: 25px;
  display: inline-block;
  margin-right: 5px;
}
.contact-links p {
  display: inline-block;
  margin: 0px;
}
